<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
</head>
    <body>
        <h1>An application requests access to your data!</h1>

        <form action="/api-user-management/consent" method="post">
            <input type="hidden" name="consent_challenge" value="{{consent_challenge}}" />

            <p>
                Hi {{user}}, application <strong>{{client_id}}</strong> wants access resources on your behalf and to:
            </p>

            {{#each scopes}}
                <input type="checkbox" checked id="{{this}}" value="{{this}}" name="grant_scope">
                <label for="{{this}}">{{this}}</label>
            {{/each}}

             <p>Do you want to be asked next time when this application wants to access your data?
                        The application will not be able to ask for more permissions without your consent.
             </p>
             <ul></ul>
            <div>
                <label for="remember">Do not ask me again</label>
                <input type="checkbox" id="remember" name="remember" />
            </div>
            <div>
                <input type="submit" id="accept" value="Allow access"/>
                <input type="submit" id="reject" value="Deny access"/>
            </div>
        </form>
    </body>
</html>